@font-face {
    src: url("../fonts/rajdhani/Rajdhani-Regular.ttf") format("truetype");

    font-family: "Rajdhani";
    font-weight: 400;
}

$title-font-family: "Rajdhani", $fallback-font-family !default;
