{% set value = (value is null ? field.default : value) %}

<div class="form-field">
    <div class="form-data form-markdown-wrapper cm-s-paper">
        <textarea data-grav-mdeditor="{{ { 'markdown': true }|json_encode|e('html_attr') }}" name="{{ (scope ~ field.name)|fieldName }}" data-grav-urlpreview="{{ base_url }}/media/{{ admin.route|trim('/') }}.json">{{ value|join("\n") }}</textarea>
    </div>
</div>
