[submodule "user/themes/learn2-git-sync"]
	path = user/themes/learn2-git-sync
	url = git@github.com:uofr/grav-theme-learn2-git-sync.git
[submodule "user/themes/learn2"]
	path = user/themes/learn2
	url = git@github.com:uofr/grav-theme-learn2.git
[submodule "user/plugins/shortcode-core"]
	path = user/plugins/shortcode-core
	url = git@github.com:getgrav/grav-plugin-shortcode-core.git
[submodule "user/plugins/shortcode-ui"]
	path = user/plugins/shortcode-ui
	url = git@github.com:getgrav/grav-plugin-shortcode-ui.git
[submodule "user/plugins/admin"]
	path = user/plugins/admin
	url = git@github.com:getgrav/grav-plugin-admin.git
[submodule "user/plugins/anchors"]
	path = user/plugins/anchors
	url = git@github.com:getgrav/grav-plugin-anchors.git
[submodule "user/plugins/error"]
	path = user/plugins/error
	url = git@github.com:getgrav/grav-plugin-error.git
[submodule "user/plugins/markdown-notices"]
	path = user/plugins/markdown-notices
	url = git@github.com:getgrav/grav-plugin-markdown-notices.git
[submodule "user/plugins/problems"]
	path = user/plugins/problems
	url = git@github.com:getgrav/grav-plugin-problems.git
[submodule "user/plugins/login"]
	path = user/plugins/login
	url = git@github.com:getgrav/grav-plugin-login.git
[submodule "user/plugins/form"]
	path = user/plugins/form
	url = git@github.com:getgrav/grav-plugin-form.git
[submodule "user/plugins/email"]
	path = user/plugins/email
	url = git@github.com:getgrav/grav-plugin-email.git
[submodule "user/plugins/auto-date"]
	path = user/plugins/auto-date
	url = git@github.com:getgrav/grav-plugin-auto-date.git
[submodule "user/plugins/breadcrumbs"]
	path = user/plugins/breadcrumbs
	url = git@github.com:getgrav/grav-plugin-breadcrumbs.git
[submodule "user/plugins/external_links"]
	path = user/plugins/external_links
	url = git@github.com:uofr/grav-plugin-external-links.git
[submodule "user/plugins/feed"]
	path = user/plugins/feed
	url = git@github.com:getgrav/grav-plugin-feed.git
