<form id="blueprints" method="post">
    <div class="form-tabs">
        <input type="radio" name="tab" id="tab1" class="tab-head" checked="checked"><label for="tab1">Content</label><input type="radio" name="tab" id="tab2" class="tab-head"><label for="tab2">Options</label>
        <div class="tab-body-wrapper">
            <div id="tab-body-1" class="tab-body">
                {% set field = {name: '_raw', type: 'textarea', label: 'Raw content'} %}
                {% set value = data.content %}
                <div class="block block-raw">
                    {% include 'forms/fields/markdown/markdown.html.twig' %}
                </div>
            </div>
            <div id="tab-body-2" class="tab-body">
                {% for field in blueprints.fields %}
                    {% if field.type %}
                        {% set value = data.value(field.name) %}
                        <div class="block block-{{field.type}}">
                            {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                        </div>



                    {% endif %}
                {% endfor %}
                <div class="block block-raw">
                    {% set field = {name: '_raw', type: 'textarea', label: 'Frontmatter'} %}
                    {% set value = data.frontmatter %}
                    {% include 'forms/fields/frontmatter/frontmatter.html.twig' %}
                </div>
            </div>
        </div>
    </div>





{#     <div class="button-bar">
        <button class="button" name="task" value="raw">Save</button>
    </div> #}
</form>
