<nav id="nav">
    <ul>
        {% for page in pages %}
            {% if page.visible %}
            <li>
                <a href="{{ page.url }}">{{ page.menu }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
