<div class="grav-update plugins">
    <p>
        <i class="fa fa-bullhorn"></i>
        One or more of your plugins has an <strong>update available</strong>.
        <button class="button button-small secondary">Update All Plugins</button>
    </p>
</div>