<a class="menu-toggle fa fa-fixed-width fa-bars" href="#menu"></a>

<h2>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bug fa-stack-1x"></i>
    </span>
    Admin
</h2>

{% if admin.authorise %}
<span class="user-details">
<img src="http://www.gravatar.com/avatar/{{ admin.user.email|md5 }}?s=50" /><span class="badge">6</span><span class="hide-small">Hi, {{ admin.user.fullname }}<span> <a href="{{ base_url_relative }}/task{{ config.system.param_sep }}logout">Logout</a>
</span>
{% endif %}
