{% if user.exists %}
<div class="user-details">
    <img src="http://www.gravatar.com/avatar/{{ user.email|md5 }}?s=64" />
    <h1>{{ user.fullname }}{% if user.title %} <small>({{ user.title }})</small>{% endif %}</h1>
</div>
{% else %}
<h1>Create new user</h1>
{% endif %}

{% include 'partials/blueprints.html.twig' with { data: user, blueprints: user.blueprints } %}

{% if user.exists and admin.user.username != user.username %}
<div class="button-bar danger">
    <span class="danger-zone"></span>
    <a class="button" href="#"><i class="fa fa-fw fa-warning"></i>Remove User</a>
</div>
{% endif %}
