<span class="blog-date">
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        <i class="fa fa-calendar"></i> {{ page.date|date(system.pages.dateformat.short) }}
    </time>
</span>
