<div class="title-center">
{{ content|raw }}

<div id="calendar_container" style="min-height: 70vh;"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    window.render_cal(
        'calendar_container',
        '{{ media['conventions.ics'].url|raw }}');

    window.parse_ical('{{ media['conventions.ics'].display() }}');
});
</script>
</div>
