{% if field.fields %}
    <div class="form-column block pure-u-1-{{ cols }}">
    {% for field in field.fields %}
        {% if field.type %}
            {% set value = data.value(field.name) %}
                {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
        {% endif %}
    {% endfor %}
    </div>
{% endif %}
