<div class="form-spacer">
    {% if field.title %}
    <h3>{{ field.title }}</h3>
    {% endif %}

    {% if field.text %}
    <p>{{ field.text }}</p>
    {% endif %}

    {% if field.underline %}
    <hr />
    {% endif %}
</div>
