html, body {
	height: 100%;
}

body {
	background: $page-bg;
	color: $core-text;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $core-accent;
	&:hover {
		color: darken($core-accent, 20%);
	}
}

b, strong {
	font-weight: $font-weight-bold
}

.bigger {
    font-size: 1.2rem;
}

.button-bar {
    text-align: right;
    float: right;
    z-index: 2;
}

.secondary-accent {
    background: $secondary-accent-bg;
    color: $secondary-accent-fg;

    .button-bar {
        background: $secondary-accent-bg;
    }

    .button {
        background: lighten($secondary-accent-bg, 10%);
    }
}

.tertiary-accent {
    background: $tertiary-accent-bg;
    color: $tertiary-accent-fg;

    .button-bar {
        background: $tertiary-accent-bg;
    }

    .button {
        background: lighten($tertiary-accent-bg, 5%);
        @include button-color(lighten($tertiary-accent-bg, 10%));
    }
}

.alert {
    font-size: 1.1rem;
    padding: 1rem $padding-default;
}

.info {
    background: $info-bg;
    color: $info-fg;
    a {
        color: darken($info-fg, 10%);
        &:hover {
            color: $info-fg;
        }
    }
}

.info-reverse {
    color: $info-bg;
}

.notice {
    background: $tertiary-accent-bg;
    color: $tertiary-accent-fg;
    a {
        color: darken($tertiary-accent-fg, 10%);
        &:hover {
            color: $tertiary-accent-fg;
        }
    }
}

.error {
    background: $notice-bg;
    color: $notice-fg;
    a {
        color: darken($notice-fg, 10%);
        &:hover {
            color: $notice-fg;
        }
    }
}

.badge {
    font-size: 0.9rem;
    font-family: $font-family-default;
    font-weight: 700;
    border-radius: 100%;
    padding: 0px 6px;
    min-width: 23px;
    line-height: 23px;
    text-align: center;
}

