html, body {
	height: 100%;
}

body {
	background: $page-bg;
	color: $core-text;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $core-accent;
	&:hover {
		color: darken($core-accent, 20%);
	}
}

b, strong {
	font-weight: $font-weight-bold
}

.secondary-accent {
    background: $secondary-accent-bg;
    color: $secondary-accent-fg;
}

.info {
    background: $info-bg;
    color: $info-fg;
    font-size: 1.1rem;
}

