.gpm {

    .gpm-name {
        white-space: nowrap;
        color: lighten($content-fg, 25%);
    }

    .gpm-version {
        padding-left:0.5rem;
        color: lighten($content-fg,10%);
        font-size: 0.9rem;
    }

    .gpm-update {
        .gpm-name {
            color: $secondary-accent-bg;
        }
    }

    .gpm-actions {
        font-size: 1.4rem;

        .disabled {
            color: lighten($content-fg,10%);
        }
    }

    .plugin-info {
        position: relative;
        border-bottom: 3px solid darken($content-bg, 5%);
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        overflow: hidden;

        .plugin-icon {
            color: darken($content-bg, 3%);
            position: absolute;
            right: $padding-default;
            font-size: 20rem;
        }
        table {
            position: relative;
        }
        td {
            border: 0;
            text-align: left !important;

            &:first-child {
                color: lighten($content-fg,15%);
                white-space: nowrap;
                width: 25%;
            }
        }
        tr:hover {
            background: inherit;
        }
    }

    .themes {
        padding: $padding-default;
    }
}