.pages-list {
    list-style: none;
    margin: 0;
    padding: 0;

    border-top: 1px solid darken($content-bg, 5%);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;

    }

    .row {
        @include transition(all 0.2s ease);
        border-bottom: 1px solid darken($content-bg, 5%);
        line-height: 2.5rem;
        padding-right: 3rem;

        &:hover {
            background: lighten($content-bg,2%);
        }

        p.page-route {
            display: block;
            margin: -10px 0 5px 25px;
            line-height: 1;
            font-size: 0.9rem;
            color: darken($content-bg,30%);
            text-shadow: 1px 1px 0 $white;
        }

        // fix for hint alignment
        .hint--bottom:before, .hint--bottom:after {
            left: 4px;
        }
        .hint:after, [data-hint]:after {
            border-radius: 2px;
        }
    }

    .page-tools {
        display: inline-block;
        float: right;
        font-size: 1.4rem;
        i {
            margin-left: 10px;
        }
    }

    .page-home {
        font-size: 1.4rem;
        margin-left: 10px;
        color: darken($content-bg, 20%);
        vertical-align: middle;
    }

    .page-info {
        font-size: 1.1rem;
        margin-left: 10px;
        color: darken($content-bg, 20%);
        vertical-align: middle;
    }

    .page-icon {

        color: #0082BA;
        font-weight: 700;

        &.children-open:before {
            content: '\f056';
        }

        &.children-closed:before{
            content: '\f055';
        }

        &.not-routable {
            color: #CE431D;
        }

        &.not-visible {
            color: #999;
        }

        &.modular {
            color: #9055AF;
        }


    }
}

#page-filtering {
    margin: -2rem $padding-default 1rem;
    @include clearfix;

    .page-filters {
        width: 60%;
        float: left;
    }

    .page-search {
        position: relative;
        width: 40%;
        float: left;
        padding-left: 2rem;
        text-indent: 2.5rem;
        &:after {
            position: absolute;
            right: 15px;
            top: 10px;
            content: '\f002';
            font-family: 'FontAwesome';
        }
    }

    .page-shortcuts {
        @include clearfix;
        clear: both;
        padding-top:5px;

        .button {
            @include button-color(#aaa);
        }
    }

    .selectize-control.multi .selectize-input {

        padding: ($leading-margin / 4) ($leading-margin / 4);

        &.has-items {
            padding-top: 6px;
            padding-bottom: 4px;
        }

        input {
            font-size: $core-font-size;
            line-height: $core-line-height;
        }


        > div, > div.active {
            color: $white;
            padding: 2px 10px;
            &[data-value='Routable'] {
                background: #CE431D;
            }
            &[data-value='Visible'] {
                background: #999;
            }
            &[data-value='Modular'] {
                background: #9055AF;
            }
        }
    }
}

.admin-form-wrapper {
    position: relative;
}

#admin-mode-toggle {
    position: absolute;
    right: 0.5rem;
    height: 3.5rem;

    .switch-grav {
        @extend %vertical-align;
        border: 0;
        background-color: lighten($accent-bg,10%);
    }

    .switch-toggle {

        input:checked + label {
            color: $white;
        }

        input + label {
            color: lighten($accent-bg,65%);
        }

        input.highlight:checked {
            ~ a {
                background: lighten($tertiary-accent-bg,10%);
            }
        }
    }


}


@for $i from 0 to 10 {
    .depth-#{$i} .row {
        padding-left: 3rem * ($i + 1);
    }
}

.hidden {
    display: none!important;
}

.switch-toggle input[type="radio"] {
    display: none!important;
}
