table,
tbody {
    display: inline-block;
    width: 100%;
}

.gpm-details {
    width: 100%;
    flex: auto;
}

td {
    border: 0;
    border-bottom: 1px solid darken($content-bg, 5%);
}

tr {
    @include transition(all 0.2s ease);

    @include display(flex);
    @include flex-wrap(wrap);

    th {
        display: block;
        @include flex(1);
        font-weight: bold;

        &:first-child {
            padding-left: $padding-default;
        }

        &:last-child {
            padding-right: $padding-default;
        }
    }

    td {
        display: block;
        @include flex(1);

        &.double {
            @include flex(2);
        }

        &:first-child {
            padding-left: $padding-default;
        }

        &:last-child, &.gpm-actions {
            padding-right: $padding-default;
        }

        &.gpm-actions {
            line-height: 1;
            text-align: right;
            position: relative;
            
            .gpm-details-expand {
                position: absolute;
                top: 12px;
                right: 12px;
            }
        }

        &.gpm-details {
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;

            > .table-wrapper {
                display: none;

                td {
                    border-bottom: 0;
                }
            }

            tbody {
                width: 100%;
            }
        }
    }

    &:last-child {
        td {
            border-bottom: 0;
        }
    }
    &:hover {
        background: lighten($content-bg,2%);
    }
}

