{% set value = (value is null ? field.default : value) %}

<div class="form-field">
    <div class="form-data form-uploads-wrapper">
        <h3>{{ field.label }}</h3>
        <div id="gravDropzone" class="dropzone"></div>
        <span>{{ value|join("\n") }}</span>
        <script>
            $(function(){
                var URI = $('[data-media-url]').data('media-url'), thisDropzone;
                Dropzone.autoDiscover = false;
                Dropzone.options.gravDropzone = {
                    addRemoveLinks: true,
                    init: function() {
                        thisDropzone = this;
                        $.get(URI + '/task:listmedia', function(data) {
                            $.each(data, function(filename, data){
                                var mockFile = { name: filename, size: data.size, extras: data };
                                thisDropzone.files.push(mockFile);
                                thisDropzone.options.addedfile.call(thisDropzone, mockFile);
                                thisDropzone.options.thumbnail.call(thisDropzone, mockFile, data.url);
                            });
                        });

                        this.on('removedfile', function(file) {
                            thisDropzone = this;
                            $.post(URI + '/task:delmedia', {filename: file.name}, function(data){
                                if (data.status == 'error'){
                                    // let's add back the file
                                    if (file instanceof File) thisDropzone.addFile(file);
                                    else {
                                        thisDropzone.files.push(file);
                                        thisDropzone.options.addedfile.call(thisDropzone, file);
                                        thisDropzone.options.thumbnail.call(thisDropzone, file, file.extras.url);
                                    }

                                    // fire up the modal
                                    var modalContainer = $('[data-remodal-id=generic]');
                                    modalContainer.find('.error-content').html('<p>An error occurred while trying to remove the file <strong>'+file.name+'</strong></p><pre>'+data.message+'</pre>');
                                    $.remodal.lookup[modalContainer.data('remodal')].open();
                                }
                            });
                        });
                    }
                };

                $("#gravDropzone").dropzone({ url: URI + '/task:addmedia', createImageThumbnails: { thumbnailWidth: 150} });
            });
        </script>
    </div>
</div>
