@charset "UTF-8";
.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  margin: 0;
  color: #555555;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover; }

a {
  color: #63a6d7;
  text-decoration: none;
  background: transparent; }
  a:hover {
    color: #3082bd;
    outline: 0; }
  a:active {
    outline: 0; }

.container {
  width: 75.000rem;
  margin: 0 auto; }

.content-padding {
  padding: 105px 2rem 2rem 2rem; }

footer {
  text-align: center; }
  footer .container {
    background: rgba(0, 0, 0, 0.1);
    padding: 2rem 0;
    margin-bottom: 3rem; }

.clear:before,
.clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

@media only screen and (max-width: 1024px) {
  .hide-small {
    display: none; } }

.grid {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.block {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

body [class*="size-"] {
  -webkit-box-flex: none !important;
  -moz-box-flex: none !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important; }

.size-1-2 {
  width: 50% !important; }

.size-1-3 {
  width: 33.33333% !important; }

.size-1-4 {
  width: 25% !important; }

.size-1-5 {
  width: 20% !important; }

.size-1-6 {
  width: 16.66667% !important; }

.size-1-7 {
  width: 14.28571% !important; }

.size-1-8 {
  width: 12.5% !important; }

.size-1-9 {
  width: 11.11111% !important; }

.size-1-10 {
  width: 10% !important; }

.size-1-11 {
  width: 9.09091% !important; }

.size-1-12 {
  width: 8.33333% !important; }

@font-face {
  font-family: "geometria";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/geometria_light_macroman/Geometria-Light-webfont.eot");
  src: url("../fonts/geometria_light_macroman/Geometria-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geometria_light_macroman/Geometria-Light-webfont.woff") format("woff"), url("../fonts/geometria_light_macroman/Geometria-Light-webfont.ttf") format("truetype"), url("../fonts/geometria_light_macroman/Geometria-Light-webfont.svg#geometria") format("svg"); }
#header {
  background: #343131; }
  #header h1 {
    margin: 1.563rem;
    font-size: 3rem;
    color: #eee; }
  #header a {
    color: #ddd; }
    #header a:hover {
      color: #fff; }

#nav {
  margin: 1.563rem 0 0;
  font-size: 1.2rem; }
  #nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
  #nav li {
    margin: 0;
    padding: 0;
    display: block;
    float: left; }
  #nav a {
    display: block;
    padding: 0.5rem 1.0rem; }

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background: #e5e9ec; }

.error {
  text-align: center;
  padding: 5rem 0; }
  .error h1 {
    font-size: 4rem; }

form .form-field {
  margin-bottom: 10px; }
form h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem; }
form hr {
  border: 0;
  width: 100%;
  background: #e3e3e3;
  height: 3px;
  margin-bottom: 2rem; }
form .inline > span:first-child {
  display: block;
  float: left;
  width: 30%;
  color: #888888; }
form input, form select, form textarea, form button {
  font-family: "opensans-light", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem; }
form .select {
  position: relative; }
  form .select:after {
    position: absolute;
    content: '\f078';
    font-family: 'FontAwesome';
    right: 12px;
    top: -6px;
    color: #aeaeae;
    pointer-events: none; }
form select {
  border: 3px solid #e3e3e3;
  background: whitesmoke;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 30px 5px 10px;
  border-radius: 0;
  cursor: pointer;
  margin: 0; }
form input[type=text] {
  width: 65%;
  border: 3px solid #e3e3e3;
  padding: 5px 10px; }
form input[type=date] {
  width: 200px;
  border: 3px solid #e3e3e3;
  padding: 5px 10px; }
form .radio, form .checkboxes {
  display: inline-block;
  padding: 5px 10px; }
form textarea {
  width: 65%;
  height: 100px;
  border: 3px solid #e3e3e3;
  padding: 5px 10px; }
form .switch-toggle label {
  cursor: pointer; }
form .switch-toggle a, form .switch-toggle label {
  outline: none !important; }
form .dynfields input[type=text] {
  width: 40%; }
form .dynfields .inline > div {
  margin-left: 30%; }
form .dynfields .button {
  padding: 0.5rem;
  display: inline-block;
  background: #999; }
form .button-bar {
  margin-top: 50px;
  background: whitesmoke;
  padding: 5px 10px;
  padding-left: 30%; }

#toolbar {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 75px;
  border-bottom: 5px solid #63a6d7;
  z-index: 100; }
  #toolbar .menu-toggle {
    position: absolute;
    font-size: 20px;
    padding-left: 8px;
    line-height: 70px;
    color: #555555; }
    @media only screen and (min-width: 1024px) {
      #toolbar .menu-toggle {
        display: none; } }
  #toolbar .user-details {
    display: block;
    float: right;
    padding-right: 2rem;
    margin-top: 10px;
    position: relative; }
    #toolbar .user-details img {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 15px; }
    #toolbar .user-details .badge {
      position: absolute;
      display: inline-block;
      background: #E23D3C;
      height: 20px;
      line-height: 20px;
      text-align: center;
      width: 20px;
      border-radius: 50%;
      top: 0;
      left: 35px;
      color: white;
      font-size: 14px; }
  #toolbar h2 {
    display: inline-block;
    margin: 0;
    line-height: 70px;
    padding-left: 2rem; }
    @media only screen and (min-width: 1024px) {
      #toolbar h2 {
        padding-left: 20px; } }
    #toolbar h2 span {
      font-size: 26px;
      color: #63a6d7; }
      #toolbar h2 span i:nth-child(2) {
        color: white;
        font-size: 34px; }

nav {
  background: #333 !important;
  color: #ccc; }
  nav h2 {
    text-align: center;
    margin-top: 15px; }
  nav > ul {
    top: 30px !important; }
    @media only screen and (min-width: 1024px) {
      nav > ul {
        top: 110px !important; } }
  nav ul {
    margin: 0;
    padding-top: 0 !Important; }
    nav ul li {
      font-size: 16px; }
      nav ul li i.fa {
        width: 25px; }
  nav em.status {
    display: inline-block;
    background: #900;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px 0 0; }
    nav em.status.visible {
      background: green; }

.admin-block {
  background: white;
  padding: 2rem; }

.dd-item .notice {
  background: #FCF8F2;
  border: 1px solid #f2e2c9;
  color: #ec971f;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 3px; }
.dd-item .row {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  background: #fff; }
.dd-item:last-child .row {
  border: 0; }
.dd-item .edit {
  display: block;
  float: right; }

.themes .thumbnail {
  max-width: 150px; }

.sidebar {
  color: #dddddd; }
  .sidebar .sidebar-content {
    padding: 2rem; }
    .sidebar .sidebar-content:first-child {
      background: #333333; }
  .sidebar .tags a {
    background: #575757;
    color: #dddddd;
    font-size: 1rem;
    padding: 0.2rem 0.8rem; }
    .sidebar .tags a:hover {
      background: #4a4a4a; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "opensans-light", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.875rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "geometria", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  margin: 0 0 1.875rem 0; }

h1 {
  font-size: 2.4rem;
  line-height: 3.188rem; }

h2 {
  font-size: 2rem;
  line-height: 2.75rem; }

h3 {
  font-size: 1.7rem;
  line-height: 2.315rem; }

h4 {
  font-size: 1.3rem;
  line-height: 1.938rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 1rem; }

strong, b, th {
  font-family: "opensans-reg", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 500; }

p {
  margin: 0 0 1.875rem 0; }

pre {
  overflow: auto;
  margin: 2rem -2rem;
  padding: 1rem 2rem;
  background: #eeeeee; }
  pre code {
    background: inherit; }

code,
kbd,
pre,
samp {
  font-family: "Monaco", "Courier New", Courier, monospace;
  font-size: 0.9rem; }

code {
  background: #e3f3fc; }

small {
  font-size: 0.875rem; }

sub,
sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table {
  border: 1px solid #eeeeee;
  margin: 3.0rem 0;
  width: 100%;
  border-collapse: collapse; }
  table tr:last-child td {
    border-bottom: 0; }

th {
  text-align: left;
  background: #f9f9f9;
  border-bottom: 1px solid #eeeeee;
  padding: 0.5rem; }

td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.5rem; }

.button {
  padding: 0.5rem 1.4rem;
  background: #63a6d7;
  color: #eeeeee;
  border: 0; }
  .button:hover {
    background: #4f9ad2;
    color: #eeeeee; }
  .button:active {
    background: #3a8fcd;
    color: #e1e1e1; }

.tags a {
  display: inline-block;
  background: #eeeeee;
  padding: 0 0.5rem;
  margin-bottom: 4px;
  font-size: 0.9rem;
  color: #666666; }
  .tags a:hover {
    background: #e6e6e6; }

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px; }

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.dd-list .dd-list {
  padding-left: 30px; }

.dd-collapsed .dd-list {
  display: none; }

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px; }

.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #f6f6f6;
  border-radius: 3px;
  cursor: move;
  box-sizing: border-box; }

.dd-handle:hover {
  color: #2ea8e5;
  background: #fff; }

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold; }

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0; }

.dd-item > button[data-action="collapse"]:before {
  content: '-'; }

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-image: -moz-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), -moz-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-image: linear, 45deg, white 25%, transparent 25%, transparent 75%, white 75%, white, linear, 45deg, white 25%, transparent 25%, transparent 75%, white 75%, white;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px; }

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999; }

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0; }

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1); }

.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd; }

#nestable-menu {
  padding: 0;
  margin: 20px 0; }

#nestable-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

@media only screen and (min-width: 1024px) {
  .dd {
    float: left;
    width: 60%; }

  .dd + .dd {
    margin-left: 2%; } }
.dd-hover > .dd-handle {
  background: #2ea8e5 !important; }

.tooltip_skin-dream {
  position: relative;
  display: inline-block;
  line-height: 140%;
  font-weight: normal; }

.tooltip_skin-dream .tooltip-arrow {
  position: absolute;
  z-index: -1;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #444444;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.tooltip_skin-dream .tooltip-content {
  display: inline-block;
  max-width: 199px;
  padding: 10px;
  font-size: 15px;
  color: #dddddd;
  background-color: #444444;
  border-radius: 2px; }

.tooltip_skin-dream.tooltip-n .tooltip-arrow {
  bottom: -4px;
  left: 50%;
  margin-left: -10px; }

.tooltip_skin-dream.tooltip-s .tooltip-arrow {
  top: -4px;
  left: 50%;
  margin-left: -10px; }

.tooltip_skin-dream.tooltip-w .tooltip-arrow {
  top: 50%;
  right: -4px;
  margin-top: -10px; }

.tooltip_skin-dream.tooltip-e .tooltip-arrow {
  top: 50%;
  left: -4px;
  margin-top: -10px; }

.tooltip_skin-dream.tooltip-ne .tooltip-arrow {
  bottom: -4px;
  left: 9px; }

.tooltip_skin-dream.tooltip-nw .tooltip-arrow {
  right: 9px;
  bottom: -4px; }

.tooltip_skin-dream.tooltip-se .tooltip-arrow {
  top: -4px;
  left: 9px; }

.tooltip_skin-dream.tooltip-sw .tooltip-arrow {
  top: -4px;
  right: 9px; }

.pointer-events-none {
  pointer-events: none; }

/*
 * CSS TOGGLE SWITCHES
 * Unlicense
 *
 * Ionuț Colceriu - ghinda.net
 * https://github.com/ghinda/css-toggle-switch
 *
 */
/* Toggle Switches
 */
/* Shared
 */
.switch-wrapper {
  height: 46px; }

/* Checkbox
 */
/* Radio Switch
 */
/* Hide by default
 */
.switch-toggle a,
.switch-light span span {
  display: none; }

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {
  /* Checkbox switch
   */
  .switch-light {
    display: inline-block;
    height: 46px;
    /* Outline the toggles when the inputs are focused
     */
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 100px;
    /* Position the label over all the elements, except the slide-button (<a>)
     * Clicking anywhere on the label will change the switch-state
     */
    /* Don't hide the input from screen-readers and keyboard access
     */ }
    .switch-light * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .switch-light a {
      display: block;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; }
    .switch-light label,
    .switch-light > span {
      vertical-align: middle; }
    .switch-light input:focus ~ a,
    .switch-light input:focus + label {
      outline: 1px dotted #888; }
    .switch-light label {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%; }
    .switch-light input {
      position: absolute;
      opacity: 0;
      z-index: 5; }
      .switch-light input:checked ~ a {
        right: 0%; }
    .switch-light > span {
      position: absolute;
      left: -100px;
      width: 100%;
      margin: 0;
      padding-right: 100px;
      text-align: left; }
      .switch-light > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 100px;
        text-align: center; }
        .switch-light > span span:last-child {
          left: 50%; }
    .switch-light a {
      position: absolute;
      right: 50%;
      top: 0;
      z-index: 4;
      display: block;
      width: 50%;
      height: 100%;
      padding: 0; }

  /* Radio switch
   */
  .switch-toggle {
    display: inline-block;
    height: 46px;
    /* Outline the toggles when the inputs are focused
     */
    position: relative;
    /* For callout panels in foundation
     */
    padding: 0 !important;
    /* Generate styles for the multiple states */ }
    .switch-toggle * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .switch-toggle a {
      display: block;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; }
    .switch-toggle label,
    .switch-toggle > span {
      vertical-align: middle; }
    .switch-toggle input:focus ~ a,
    .switch-toggle input:focus + label {
      outline: 1px dotted #888; }
    .switch-toggle input {
      position: absolute;
      opacity: 0; }
    .switch-toggle input + label {
      position: relative;
      z-index: 2;
      float: left;
      width: 50%;
      height: 100%;
      margin: 0;
      text-align: center; }
    .switch-toggle a {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      z-index: 1;
      width: 50%;
      height: 100%; }
    .switch-toggle input:last-of-type:checked ~ a {
      left: 50%; }
    .switch-toggle.switch-3 label,
    .switch-toggle.switch-3 a {
      width: 33.33333%; }
    .switch-toggle.switch-3 input:checked:nth-of-type(2) ~ a {
      left: 33.33333%; }
    .switch-toggle.switch-3 input:checked:last-of-type ~ a {
      left: 66.66667%; }
    .switch-toggle.switch-4 label,
    .switch-toggle.switch-4 a {
      width: 25%; }
    .switch-toggle.switch-4 input:checked:nth-of-type(2) ~ a {
      left: 25%; }
    .switch-toggle.switch-4 input:checked:nth-of-type(3) ~ a {
      left: 50%; }
    .switch-toggle.switch-4 input:checked:last-of-type ~ a {
      left: 75%; }
    .switch-toggle.switch-5 label,
    .switch-toggle.switch-5 a {
      width: 20%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(2) ~ a {
      left: 20%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(3) ~ a {
      left: 40%; }
    .switch-toggle.switch-5 input:checked:nth-of-type(4) ~ a {
      left: 60%; }
    .switch-toggle.switch-5 input:checked:last-of-type ~ a {
      left: 80%; }

  /* Standalone Themes */
  /* Grav Theme
   */
  .switch-grav {
    background-color: whitesmoke;
    border: 3px solid #e3e3e3;
    /* Selected ON switch-light
     */ }
    .switch-grav label {
      color: #a2a2a2;
      -webkit-transition: color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out;
      padding: 5px 20px; }
    .switch-grav > span span {
      opacity: 0;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s; }
      .switch-grav > span span:first-of-type {
        opacity: 1; }
    .switch-grav a {
      background: #777; }
    .switch-grav.switch-toggle input.highlight:checked ~ a {
      background: #4bbb3f; }
    .switch-grav.switch-light input:checked ~ a {
      background-color: #777; }
    .switch-grav.switch-light input:checked ~ span span:first-of-type {
      opacity: 0; }
    .switch-grav.switch-light input:checked ~ span span:last-of-type {
      opacity: 1; }
    .switch-grav input:checked + label {
      color: #fff; } }
/* Bugfix for older Webkit, including mobile Webkit. Adapted from
 * http://css-tricks.com/webkit-sibling-bug/
 */
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 1280px) {
  .switch-light,
  .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s; } }

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0); }

  to {
    -webkit-transform: translate3d(0, 0, 0); } }
/* used for wrapper animation after the load of the page */
@-webkit-keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-moz-keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
.form-tabs > input[type=radio] {
  display: none; }
  .form-tabs > input[type=radio]:checked + label {
    background: #63a6d7;
    color: white; }
.form-tabs > label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: whitesmoke;
  text-align: center;
  line-height: 3em;
  padding: 0px 15px; }
  .form-tabs > label:last-of-type {
    border-bottom: none; }
  .form-tabs > label:hover {
    background: #dfdfdf; }
  @media only screen and (max-width: 1024px) {
    .form-tabs > label {
      width: 100%;
      display: block;
      border-bottom: 2px solid #dadada;
      border-radius: 0; } }
@media only screen and (max-width: 1024px) {
  .form-tabs {
    margin: 0; } }

.tab-body {
  position: absolute;
  top: -9999px;
  opacity: 0; }

.tab-body-wrapper {
  padding-top: 3rem;
  background: white;
  border-top: #63a6d7 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px; }
  @media only screen and (max-width: 1024px) {
    .tab-body-wrapper {
      border: none;
      border-radius: 0; } }

#tab1:checked ~ .tab-body-wrapper #tab-body-1,
#tab2:checked ~ .tab-body-wrapper #tab-body-2,
#tab3:checked ~ .tab-body-wrapper #tab-body-3,
#tab4:checked ~ .tab-body-wrapper #tab-body-4,
#tab5:checked ~ .tab-body-wrapper #tab-body-5,
#tab6:checked ~ .tab-body-wrapper #tab-body-6,
#tab7:checked ~ .tab-body-wrapper #tab-body-7,
#tab8:checked ~ .tab-body-wrapper #tab-body-8,
#tab9:checked ~ .tab-body-wrapper #tab-body-9,
#tab10:checked ~ .tab-body-wrapper #tab-body-10 {
  position: relative;
  top: 0px;
  opacity: 1; }

/*# sourceMappingURL=core.css.map */
