{% extends 'partials/base.html.twig' %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-th"></i> Configuration</h1>
{% endblock %}

{% block content %}

    {% include 'partials/messages.html.twig' %}
    {% include 'partials/blueprints.html.twig' with { blueprints: admin.blueprints('system'), data: admin.data('system') } %}

{% endblock %}

