{% extends 'partials/base.html.twig' %}


{% block content %}

    <div class="admin-block">
        <h1>
            Statistics
        </h1>

        {% include 'partials/messages.html.twig' %}
    </div>
{% endblock %}

