html, body {
    height: 100%
}
body {
    margin:0 3rem;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.container {
    margin: 0rem;
    max-width: 600px;
    padding-bottom:5rem;
}

header {
    color: #000;
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 1.1;
    margin-bottom: 2rem;
}
p {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    color: #666;
}

h5 {
    font-weight: normal;
    color: #999;
    font-size: 1rem;
}

h6 {
    font-weight: normal;
    color: #999;
}

code {
    font-weight: bold;
}
