.sidebar {
    color: $sidebar-text;

    .sidebar-content {
        padding: $content-padding;
        &:first-child {
            background: darken($sidebar-bg,4%);
        }
    }



    .tags a {
        background: lighten($sidebar-bg,10%);
        color: $sidebar-text;
        font-size: $tags-font-size +0.1rem;
        padding: 0.2rem 0.8rem;

        &:hover {
            background: lighten($sidebar-bg,5%);
        }
    }
}
