// Core
$core-text:                 #555;
$core-link:                 #63A6D7;
$white:                     #fff;
$black:                     #000;

// Header
$header-bg:                 #343131;

// Mainbody
$mainbody-bg:               #E5E9EC;
$breadcrumbs-bg:            #eee;

// Sidebar
$sidebar-bg:                #3D3D3D;
$sidebar-text:              #ddd;

// Footer
$footer-text:               #eee;


// Typgoraphy
$border-color:              #eee;
$table-head-bg:             #f9f9f9;
$code-bg:                   #E3F3FC;
$codeblock-bg:              #eee;
$tags-bg:                   #eee;
$tags-text:                 #666;

// Buttons
$button-primary-bg:         #63A6D7;
$button-primary-text:       #eee;


