{% embed 'partials/base.html.twig' %}

	{% set base_url = base_url_relative ~ site.blog.route %}

	{% block content %}
		{% include 'breadcrumbs.html.twig' %}
		
		<div class="blog-content-item grid pure-g-r">
			<div id="item" class="block pure-u-2-3">
			    {% include 'partials/blog_item.html.twig' with {'truncate':false,'big_header':true} %}
			</div>
			<div id="sidebar" class="block size-1-3 pure-u-1-3">
				{% include 'partials/sidebar.html.twig' %}
			</div>
		</div>
	{% endblock %}

	{% block pagination %}
	    {% if pagination %}
	    {% include 'pagination.html.twig' %}
	    {% endif %}
	{% endblock %}

{% endembed %}
