<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Site conçu par <a href="https://github.com/Association-Francaise-de-Jonglerie">l'équipe de l'AFJ</a> en utilisant le framework <a
        href="http://getgrav.org">Grav</a>.</p>
    </section>
</section>
