%button {
	display: inline-block;
	padding: 0.3rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 300;

    font-family: $font-family-default;

    i {
        padding-right: 5px;
    }

    &.button-small {
        padding: 3px 10px;

    }

}

@mixin button-color($color) {
	background: $color;
	color: rgba($white, 0.85);
	border-radius: $border-radius;
	&:hover {
		background: lighten($color,5%);
		color: $white;
	}
	&:active {
		box-shadow: 0 1px 0 darken($color, 12%);
	}
}
