// Font Family
$font-family-header:  "geometria", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-body:  "opensans-light", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-body-bold:  "opensans-reg", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: "Monaco", "Courier New", Courier, monospace;

// Font Sizes
$core-font-size:				1.0rem;
$core-line-height:				1.875rem;
$core-h1:						2.4rem;
$core-h2:						2.0rem;
$core-h3:						1.7rem;
$core-h4:						1.3rem;
$core-h5:						1.1rem;
$core-h6:						1.0rem;
$logo-font-size:				3.0rem;
$menu-font-size:				1.2rem;
$mono-font-size:				0.90rem;
$breadcrumbs-font-size:			0.90rem;
$tags-font-size:				0.90rem;

// Block Variables
$content-margin:				2.0rem;
$content-padding:				2.0rem;

// Additional
$border-radius:					3px;

// mobile break point
$mobile-break:                  1024px;

// Toolbar height
$toolbar-height:                70px;


