// Font Family
$font-family-default:  			"Lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:  			"Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: 				"Ubuntu Mono", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
