@import url(//fonts.googleapis.com/css?family=Montserrat:400|Raleway:300,400,600|Inconsolata);
.button, .button-secondary {
  display: inline-block;
  padding: 7px 20px; }
  .button-small.button, .button-small.button-secondary {
    padding: 3px 10px;
    font-size: 0.9rem; }

html, body {
  height: 100%; }

body {
  background: white;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #1bb3e9; }
  a:hover {
    color: #0e6e90; }

b, strong, label, th {
  font-weight: 600; }

.default-animation {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.padding-horiz {
  padding-left: 7rem;
  padding-right: 7rem; }
  @media only all and (max-width: 59.938em) {
    .padding-horiz {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only all and (max-width: 47.938em) {
    .padding-horiz {
      padding-left: 1rem;
      padding-right: 1rem; } }

.padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem; }

body {
  font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: -0px; }

h1 {
  font-size: 3.2rem; }
  @media only all and (max-width: 47.938em) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
      margin-bottom: 2.5rem; } }

@media only all and (min-width: 48em) and (max-width: 59.938em) {
  h2 {
    font-size: 2.1rem; } }
@media only all and (max-width: 47.938em) {
  h2 {
    font-size: 2rem; } }

@media only all and (min-width: 48em) and (max-width: 59.938em) {
  h3 {
    font-size: 1.7rem; } }
@media only all and (max-width: 47.938em) {
  h3 {
    font-size: 1.6rem; } }

@media only all and (min-width: 48em) and (max-width: 59.938em) {
  h4 {
    font-size: 1.35rem; } }
@media only all and (max-width: 47.938em) {
  h4 {
    font-size: 1.25rem; } }

h1 {
  text-align: center;
  letter-spacing: -3px; }

h2 {
  letter-spacing: -2px; }

h3 {
  letter-spacing: -1px; }

h1 + h2 {
  margin: -2rem 0 2rem 0;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300; }
  @media only all and (min-width: 48em) and (max-width: 59.938em) {
    h1 + h2 {
      font-size: 1.6rem; } }
  @media only all and (max-width: 47.938em) {
    h1 + h2 {
      font-size: 1.5rem; } }

h2 + h3 {
  margin: 0.5rem 0 2rem 0;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300; }
  @media only all and (min-width: 48em) and (max-width: 59.938em) {
    h2 + h3 {
      font-size: 1.6rem; } }
  @media only all and (max-width: 47.938em) {
    h2 + h3 {
      font-size: 1.5rem; } }

blockquote {
  border-left: 10px solid #f0f2f4; }
  blockquote p {
    font-size: 1.1rem;
    color: #999; }
  blockquote cite {
    display: block;
    text-align: right;
    color: #666;
    font-size: 1.2rem; }

blockquote > blockquote > blockquote {
  margin: 0; }
  blockquote > blockquote > blockquote p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem; }
  blockquote > blockquote > blockquote > p {
    margin-left: -71px;
    border-left: 10px solid #F0AD4E;
    background: #FCF8F2;
    color: #df8a13; }
  blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -94px;
    border-left: 10px solid #D9534F;
    background: #FDF7F7;
    color: #b52b27; }
  blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -118px;
    border-left: 10px solid #5BC0DE;
    background: #F4F8FA;
    color: #28a1c5; }
  blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -142px;
    border-left: 10px solid #5CB85C;
    background: #F1F9F1;
    color: #3d8b3d; }

code,
kbd,
pre,
samp {
  font-family: "Inconsolata", monospace; }

code {
  background: #f9f2f4;
  color: #9c1d3d; }

pre {
  padding: 2rem;
  background: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 3px; }
  pre code {
    color: #237794;
    background: inherit; }

hr {
  border-bottom: 4px solid #f0f2f4; }

.label {
  vertical-align: middle;
  background: #1bb3e9;
  border-radius: 100%;
  color: white;
  height: 1rem;
  min-width: 1rem;
  line-height: 1rem;
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  margin-right: 0.75rem; }

fieldset {
  border: 1px solid #dddddd; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #1bb3e9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 163, 214, 0.7); }

.form-field .required {
  color: #F3443F;
  font-size: 3rem;
  line-height: 3rem;
  vertical-align: top;
  height: 1.5rem;
  display: inline-block; }

form .buttons {
  text-align: center; }
form input {
  font-weight: 400; }

table {
  border: 1px solid #eaeaea; }

th {
  background: #f7f7f7;
  padding: 0.5rem; }

td {
  padding: 0.5rem;
  border: 1px solid #eaeaea; }

.button {
  background: white;
  color: #1bb3e9;
  border: 1px solid #1bb3e9;
  border-radius: 3px; }
  .button:hover {
    background: #1bb3e9;
    color: white; }
  .button:active {
    box-shadow: 0 1px 0 #118ab5; }

.button-secondary {
  background: white;
  color: #f6635e;
  border: 1px solid #f6635e;
  border-radius: 3px; }
  .button-secondary:hover {
    background: #f6635e;
    color: white; }
  .button-secondary:active {
    box-shadow: 0 1px 0 #f32b24; }

#error {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 6rem; }
  #error h1 {
    font-size: 5rem; }
  #error p {
    margin: 1rem 0; }

/*# sourceMappingURL=template.css.map */
