body header {
    background: #8552A2;
}

body .left-panel {
    background: inherit;
}

body .exc-title-primary {
    color: #fff;
}

body .exc-title {
    color: #ddd;
}

body .frame:not(.active):hover {
    background: #e6e6e6;
}
